<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        <u>Submitted Information</u>
    </h1>
    <table>
        <tr>
            <th>Your Name:</th>
            <th><%= name %></th>
        </tr>
        <tr>
            <th>Dojo Location:</th>
            <th><%= location %></th>
        </tr>
        <tr>
            <th>Favorite Language:</th>
            <th><%= language %></th>
        </tr>
        <tr>
            <th>Comment(optional):</th>
            <th><%= comments %></th>
        </tr>
        </table>
        <a href="/">
            <button type="submit">Go Back</button>
        </a>
</body>
</html>